body {
    background-color: #f5f6f7 ;
    width: 1280px;
    height: 1626px;
}
ul {
    list-style: none;
       }
li {
    float: left;
}
img {
    margin: 20px;
}

 p, h2 {
     text-align: center;
     color: black;
     font-family: "Roboto";
     font-weight: bold;
     margin: 40px;
     letter-spacing: 3px;
     background-color: #f5f6f7 ;
 }

#menu a {
    color: #16a085;
    font-family: "Roboto";
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}
#photoapp  {
    font-size: 18px;
    font-family: "Roboto";
    color: #16a085;
    background-color: #f5f6f7;
    padding: 32px;
    letter-spacing: 2px;
}
#download {
    font-size: 18px;
    font-family: "Roboto";
    color: #16a085;
    background-color: #f5f6f7;
    padding: 32px;
    letter-spacing: 2px;
}
#design {
    font-size: 18px;
    font-family: "Roboto";
    color: #16a085;
    background-color: #f5f6f7;
    padding: 32px;
    letter-spacing: 2px;
}
#home {
    font-size: 18px;
    font-family: "Roboto";
    color: #16a085;
    background-color: #f5f6f7;
    padding: 32px;
    margin-left: 332px;
    letter-spacing: 2px;
}
button {
    font-size: 12px;
    font-family: "Roboto";
    font-weight: bold;
    background-color: #16a085;
    color: white;
    border-radius: 3px;
    position: absolute;
    margin: 10px;
    left: 527px;
    top: 1373px;
    width: 192px;
    height: 51px;
    letter-spacing: 2px;
}
footer {
    font-weight: bold;
    font-size: 16px;
    font-family: "Roboto";
    position: absolute;
    right: 100px;
    top: 1520px;
}